
@media screen and (max-width:576px) {
    header{
        margin: 30px;
    }
    
    .header-section{
        flex-direction: column;
        
    }
    .menu-bar{
       flex-direction: column;
       gap: 20px;
    }
    .btn-container{
      flex-direction: column;
         
    }
    .banner-img{
        width: 100%;
        /* height: 100%; */
       background-repeat: no-repeat;           
    }
    .banner-title{
            padding: 15px;
            font-size: 2rem;
        }
    .banner-description{
    padding: 10px;   
    }

    .Tour-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .Tour-container{
        flex-direction: column;
        gap: 20px;
    }
    .tour-section{
        width: 100%;
        /* padding: 5px; */
    }
    .tour-title{
        text-align: center;
        font-size: 2rem;
    }
    .Tour-img{
        width: 100%;
        
    }
    .Tour-img img{
        width: 100%;
        
    }
    
}